@import './base/_variables';
@import './base/variables';
@import './block/promo';
@import './block/header';
@import './block/button';
@import './block/benefits';


* {
    font-family: 'Museo Sans Curl', sans-serif;
    box-sizing: border-box;
}


.container {
   max-width: 950px;
   margin: 0 auto;
}

@import './block/media';
