.carousel {
    padding: 81px 0;
    &__slick {
        position: relative;
        min-height: 530px;
        img{
        margin: 0 auto;
        }
    }
    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -50px;
        border:none;
        background: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -50px;
        border:none;
        background: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-dots {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        -webkit-text-security: square;
        button {
            background-color: none;
            border-radius: 100%;
            margin-left: 20px;
        }
    }
    .slick-active {
        button {
            background: red;
        }
    }
    

    
}

@media (max-width: 767px) {
    .carousel {
        &__slick {
            position: relative;
            min-height: 530px;
            img{
            width: 80%;
            }
        }
        .slick-dots {
            justify-content: flex-start;
        }
    }
}

