.catalog {
    min-height: 1100px;
    margin-bottom: 80px;
    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-transform: uppercase;
        color: #0D0D0D;
        text-align: center;
    }
    &__tabs {
        display: flex;
        margin-top: 46px;
        justify-content: center;
        align-items:center;
        padding-left: 0;
    }
    &__tab {
        list-style-type: none;
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-35deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.7s all;
        &_active {
            background-color: $main-color;
            color: #FFFFFF;
            border: none;
        }
        div {
            transform: skewX(35deg);
        }
        &:hover {
            box-shadow: 2px 2px 5px $main-color;
            border: none;
            
        }
    }
    
    &__cards {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        overflow: hidden;
        width: 300px;
        min-height: 400px;
        padding: 20px;
        border: 2px solid #E8E8E8;
        margin-bottom: 19px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #0D0D0D;
            margin-top: 15px;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            color: #0D0D0D;
            text-align: center;
            margin-top: 15px;
        }
        &__more {
            display: flex;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color : $main-color;
            text-transform: uppercase;
            margin: 10px 17px;
            text-decoration: none;
            transition: 1s all;
            &:hover {
                font-size: 16px;
                text-shadow: 2px 4px 10px red;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 17px;
        }
        &__oldprice {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }        
        &__btn {
            width: 135px;
            height: 44px;
            background: #C70101;
            border-radius: 6px;
            cursor: pointer;
            div {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
            height: 380px;
        }
        &__content {
            width: 50%;
            padding-right: 20px;
            transform: translateX(-100%);
            margin-right: 0px;
            transition: 0,5s all;
           
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            padding-left: 20px;
            transform: translateX(0%);
            transition: 0,5s all;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                list-style-type: none ;
                margin-top: 10px;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                &:before {
                    position: absolute;
                    content: '';
                    width:  5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 5px;
                }

            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: none;
            color: $main-color;
            left: 50%;
            transform: translateX(calc(-50% - 14px));
            &:hover {
                font-size: 16px;
                text-shadow: 2px 4px 10px red;
            }
        }
        
    }
    
}

@media (max-width: 575px) {
    .catalog {
        &__tab {
            font-size: 11px;
            line-height: none;
        }
        &-item {
            margin: 10px auto;
        }
    }
}