.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../../image/bg/bg2.jpg) center center/cover no-repeat;
    &__title {
        text-align: left;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    &__enters {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        width: 300px;
        input {
            background-color: #FFFFFF;
            border: none;
            height: 54px;
            padding: 0 21px;
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 66px;
            color: #4B4B4B;
            &:nth-child(3) {
                margin-bottom: 17px;
            }
        }
        label.error {
            border: none;
        }
        .error {
            text-align: center;
            margin-bottom: 10px;
            border:1px solid red;
            color: white;
        }
    }
}

@media (max-width: 767px) {
    .consultation {
        &__title {
            text-align: center;
            font-size: 25px;
             line-height: 45px
        }
        &__descr {
            text-align: center;
            margin-bottom: 15px;
        }
        &__enters {
            margin: 0 auto;
        }
    }
}

@media (max-width: 575px) {
    .consultation {
        padding-top:50px;
        &__title {
            font-size: 22px;
             line-height: 40px
        }
        &__enters {
            width: 100%;
        }
    }
}

