.scroll-up {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    img {
        width: 100%;
        background-color: $main-color;
        border-radius: 100%;
        &:hover {
            transform: rotate(-360deg);
            transition: 1s all;
           
        }
}   
}